@import url("https://fonts.googleapis.com/css?family=Manrope");

.defaultButton {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
  min-height: 40px;
  background: rgba(37, 138, 255, 0.16);
  border-radius: 8px;
  color: #258aff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

.defaultButton_featured {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
  height: 40px;
  background: #258aff;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7px;
  padding-right: 7px;
}

.defaultButton:hover {
  color: white;
  background-color: black;
}

.defaultButton_featured:hover {
  color: white;
  background: black;
}

.buttonOfIntroducePage {
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  height: 65px;
  width: 193px;
  border-radius: 5px;
  background-color: #258aff;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
  margin-bottom: 30px;
}

.buttonOfNewsletterform {
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  height: 63px;
  width: 160px;
  border-radius: 5px;
  background-color: #258aff;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
  margin-bottom: 30px;
}

.buttonOfNewsletterform:hover {
  color: white;
  background: black;
}

.buttonOfIntroducePage:hover {
  color: white;
  background: black;
}
