@import url("https://fonts.googleapis.com/css?family=Manrope");

.defaultButton {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
  height: 40px;
  background: rgba(37, 138, 255, 0.16);
  border-radius: 8px;
  color: #258aff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.defaultButton_featured {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
  height: 40px;
  background: #258aff;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featuredButton {
  text-align: center;
  line-height: 20px;
  font-family: Manrope;
  font-size: 16px;
  height: 65px;
  width: 193px;
  border-radius: 5px;
  background-color: #258aff;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.defaultButton:hover {
  color: white;
  background-color: black;
}

.featuredButton:hover {
  color: white;
  background: black;
}

.defaultButton_featured:hover {
  color: white;
  background: black;
}
