.RequestBar_container {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  min-width: 348px;
  flex-grow: 0;
  flex-shrink: 0;
  border-left: 1px solid #e9e9e9;
  top: 0;
  right: 0;
  background-color: white;
  min-height: 100vh;
}

.RequestBar_UserMenu__avatar {
  width: 87px;
  height: 87px;
  cursor: pointer;
  margin-bottom: 10px;
}

.RequestBar_UserMenu__container {
  margin-top: 46px;
  margin-bottom: 14px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.RequestBar_UserMenu__container:hover .RequestBar_UserMenu__container_dropdown {
  display: block;
}

.UserMenu_dropdown__list {
  display: flex;
  margin: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
}

.RequestBar_UserMenu__container_dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  cursor: default;
  align-items: center;
  padding: 20px;
  width: auto;
  background: #fcfcfc;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  text-align: left;
}

.UserMenu__container .forward {
  margin-left: 12px;
  margin-right: 12px;
  order: 3;
  cursor: pointer;
}

.RequestBar_UserMenu__container span {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #1d293f;
}

.RequestBar_logo_container {
  margin-top: 90px;
  margin-bottom: 90px;
  order: 0;
}

.RequestBar_menu_container {
  order: 1;
}

.RequestBar_expandButton_container {
  bottom: 20px;
  left: 231px;
  position: fixed;
  order: 2;
  cursor: pointer;
}

.Page_expandButton_container {
  bottom: 20px;
  left: 20px;
  position: fixed;
  cursor: pointer;
  z-index: 100;
}
