.Request_date {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #d8d8d8;
}

.Request_title {
  font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #1d293f;
}

.Request_subtitle {
  font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: #d8d8d8;
  margin-bottom: 14px;
}

.Request_amount {
  font-family: Circular Std;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #1d293f;
}

.RequestBox_container_pending {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  width: 193px;
  height: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: space-between;
}

.RequestBox_container_accepted {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #20e9bc;
  width: 193px;
  height: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: space-between;
}
.RequestBox_container_rejected {
  margin-bottom: 10px;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #ff374f;
  width: 193px;
  height: 150px;
  display: inline-flex;
  flex-direction: column;
  align-items: space-between;
}

.Request_buttons {
  display: flex;
  flex-basis: 100%;
  align-items: flex-end;
  max-height: 31px;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}

.Request_button_accept {
  display: flex;
  flex-basis: 55%;
  background-color: #258aff;
  height: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Request_button_reject {
  flex-basis: 45%;
  background-color: #ff374f;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Request_data {
  flex-basis: 100%;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Request_status_accepted {
  background-color: rgba(32, 233, 188, 0.15);
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #20e9bc;
  border-radius: 3px;
}

.Request_status_rejected {
  background-color: rgba(255, 55, 79, 0.15);
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #ff374f;
  border-radius: 3px;
}

.request_currency {
  color: #d8d8d8;
  font-size: 15px;
}

.Request_button_reject2 {
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  width: 147px;
  height: 50px;
  color: #20e9bc;
  font-family: Manrope;
  background-color: #258aff;
  border-radius: 3px;
}

.Request_button_accept2 {
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  height: 50px;
  width: 147px;
  color: #f70622;
  background-color: rgba(241, 7, 18, 0.15);
  font-family: Manrope;
  border-radius: 3px;
}
.sending_money {
  position: relative;
  margin-top: 29px;
  margin-left: 15px;
  color: #f70622;
  font-family: Manrope;
}

.button_container2 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  margin-top: 20px;
  left: -15px;
}
.modal_container {
  width: 180px;
  height: 180px;
}
