.Login__container {
  align-items: center;
  max-height: 100vh;
  display: flex;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 287px;
  align-items: center;
}

.logform__container {
  align-items: center;
  text-align: center;
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.input__container {
  background: #ffffff;
  width: 283px;
  height: 56px;
  margin-bottom: 32px;
  /* Shadow */

  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(194, 183, 183, 0.08);
  border-radius: 4px;
  border: 1px;
}

.contenedor__imagen_login {
  max-height: 100vh;
  width: 50vw;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logoDayPay {
  margin-bottom: 64px;
  width: 130px;
  cursor: pointer;
  
}

.imagenBetterPayments {
  z-index: 1;
  position: absolute;
}

.alreadyAccount {
  font-family: Manrope;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #a0a3bd;
  margin-top: 32px;
}

.buttonOflogin {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.imagen__moreno {
  width: 100%;
  display: flex;
  flex-direction: right;
}

.continue_text_url{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: blue;
  text-decoration:wavy;
}

.errorInvisible {
  display:none;
}

.errorVisible {
  color:red;
}


.eyeOffLogin {
  display: flex;
  position: absolute;
  margin-left: 275px;
  margin-top: 20px;
  width: 20px;
  cursor: pointer;
  z-index: 2;
}

.inputPassword {
  display: flex;
}
