.Dashboard_container{
    display:flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 100vw;
}

.Dashboard_Page_container{
    align-items: center;
    display:flex;
    justify-content: center;
    margin-left: 267px;
    position: fixed;
    width: calc(100vw - 615px);
    height: 100%;
    background-color: #F8FBFF;
}

.Dashboard_Page_container.expand{

    width: calc(100vw - 267px);
    margin-right: 267px;

}

.Dashboard_Page_container.expand2{
    margin-left: 0px;
    width: calc(100vw);

}

.Dashboard_Page_container.expand3{
    margin-left: 0px;
    width: calc(100vw - 348px );

}



/* .Dashboard_Page_container .SideBarOpen{
    position: relative;
    left: 267px;
    width: 100%;
    align-items: center;
    display:flex;
    justify-content: center;
}

.Dashboard_Page_container .SideBarClosed{
    width: 100%;
    align-items: center;
    display:flex;
    justify-content: center;
} */

.Dashboard_SideBar_container{
    z-index:999;
    position: fixed;
    min-width: 267px;

}

.Dashboard_Requests_container{
    z-index:999;
    right:0px;
    width: 348px;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

.UserMenu_top_container{
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 600;


}

.miniBox1Dashboard{
    margin-top: 40px;
    display:block;
    box-shadow: 0px 4px 0px 0px #258AFF inset;
    border-radius: 4px 0px 0px 0px;
    height: 150px;
    width:272px;
    box-sizing: border-box;
    padding-left: 26px;
    padding-top: 26px;
    background-color: white;
}

.overview_container h1{
    font-family: Manrope;
    font-style: bold;
    font-weight: 500;
    font-size: 24px;
    color: #000000;

}

.overview_container span{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #979797;
    margin-bottom: 40px;
}




   .SideBar_expandButton_container {
    bottom: 20px;
    left: 231px;
    position: fixed;
    order:2;
    cursor: pointer;
    z-index: 99999;

}

.Page_expandButton_container {
    bottom: 20px;
    left: 20px;
    position: fixed;
    cursor: pointer;
    z-index: 100;
    z-index: 99999;


}

.overview_container{
    display: inline-block;
    position: relative;
    top:40px;
    left:40px;
    height: 100%;
    width: 100%;
}