.Dashboard_container{
    display:flex;
    flex-direction: row;
    height:100%;
    background-color: #F8FBFF;

}

.Dashboard_Page_container{
    height: 100%;
    width: 100%;
}

.UserMenu_top_container{
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 600;


}