.boxSettings {
  width: 426px;
  height: 518px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.boxShapeTop {
  position: absolute;
  top: -40px;
  left: -60px;
  z-index: -2;
}

.boxShapeBottom svg {
  position: absolute;
  bottom: -125px;
  right: -120px;
  z-index: 2;
  fill: #258aff;
}

.box > span {
  margin-bottom: 45px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.tradePage_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 4;
  position: relative;
}

/* STYLE FORM  */
.accountSettings__img {
  width: 69px;
  height: 69px;
  border-radius: 4px;
  margin: 18px;
  object-fit: cover;
}

.accountSettings__edit {
    display: flex;
    position: absolute;
    top: 135px;
    left: 235px; 
    cursor: pointer;
}

.tradeForm {
  display: flex;
  flex-direction: column;
  width: 287px;
  align-items: center;
}

.input__container {
  background: #ffffff;
  width: 283px;
  height: 56px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 32px;
  /* Shadow */
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(194, 183, 183, 0.08);
  border-radius: 4px;
  border: 1px;
}

.eyeOff {
    display: flex;
    position: absolute;
    top: 369px;
    left: 330px; 
    width: 20px;
    cursor: pointer;
}

.nameData__container {
  display: flex;
}

.nameInput__container {
  background: #ffffff;
  width: 120px;
  height: 56px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 32px;
  /* Shadow */
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(194, 183, 183, 0.08);
  border-radius: 4px;
  border: 1px;
}

.lastNameInput__container {
  background: #ffffff;
  width: 120px;
  height: 56px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 25px;
  margin-bottom: 32px;
  /* Shadow */
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(194, 183, 183, 0.08);
  border-radius: 4px;
  border: 1px;
}
