.SignUp__container {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.input__container {
  background: #ffffff;
  width: 283px;
  height: 56px;
  /* Shadow */

  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(194, 183, 183, 0.08);
  border-radius: 4px;
  border: 1px;
}

.contenedor__imagen {
  height: 100%;
  width: 50%;
}

.imagen__signUp {
  height: 1075px;
  width: 741px;
  display: flex;
  flex-direction: ;
}
