.avatar_image_container {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.avatar_text__container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 25px;
  background-color: grey;
  border-radius: 50%;
  object-fit: cover;
}
